<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Berner sCOOL-Cup 2011 | O-events.net</title>
<!-- add your meta tags here -->

<link href="layout/css/eventsite.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
<link href="layout/css/patches/patch_eventsite.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
  <div class="page_margins">
    <div id="border-top">
      <div id="edge-tl"></div>
      <div id="edge-tr"></div>
    </div>
    <div class="page">
      <div id="header">
        <div id="toplogo">
          <img src="layout/images/header/toplogo.png" alt="O-events.net" />
        </div>
        <div id="topnav">
          <!-- start: skip link navigation -->
          <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
          <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
          <!-- end: skip link navigation -->
          <a href="#">Contact</a> | <a href="#">Imprint</a> | <%= render :partial => 'sessions/new' %>
        </div>
      </div>
      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
          <ul>
          
            <li class="active"><strong>Berner sCOOL-Cup 2011</strong></li>
            <li><a href="#">Browse Events</a></li>            
            <li><a href="#">My Event Calendar</a></li>
            <li><a href="#">My Clubs</a></li>
            <li><a href="#">My Account</a></li>
          </ul>
        </div>
        <p><img src="event_data/bescool11/banner.png" alt="Online-Anmeldung" style="padding-left: 10px" /></p>
      </div>
      <div id="main">
        <div id="col1">
          <div id="col1_content" class="clearfix">
            <!-- add your content here -->
            <ul>
              <li><a href="#">News</a></li>
              <li><a href="#">Invitation</a></li>
              <li><a href="#">Registration</a></li>
              <li><a href="#">Directions</a></li>
              <li><a href="#">Course Data</a></li>
              <li><a href="#">Terrain</a></li>
              <li><a href="#">Start lists</a></li>
              <li><a href="#">Results</a></li>
            </ul>
          </div>
        </div>
        <div id="col2">
          <div id="col2_content" class="clearfix">
            <!-- add your content here -->
            <h1>Page content</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
            <h2>Some more content</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
          </div>
        </div>
        <div id="col3">
          <div id="col3_content" class="clearfix">
            <!-- add your content here -->
            <p><img src="layout/images/lang/de.png" alt="Deutsch" title="Deutsch" /> <img src="layout/images/lang/fr.png" alt="Français" title="Français" /></p>
            <h4>Event Sponsors</h4>           
            <p><a href="http://balharamusic.com"><img src="event_data/bescool11/sponsors/balhara.jpg" alt="BalHaraMusic.com" /></a></p>
            <p><a href="http://sportidentbg.com"><img src="event_data/bescool11/sponsors/sibg.jpg" alt="sportidentbg.com" /></a></p>
            <p><a href="http://supsport.ch"><img src="event_data/bescool11/sponsors/supsport_small.png" alt="supsport.ch" /></a><br /><br /></p>
            
            <h4>Partner Event</h4>
            <p><a href="http://variant5.org/velikdencup/"><img src="event_data/bescool11/sponsors/velikdencup.gif" alt="Velikden Cup" /></a></p>
          </div>
          <!-- IE Column Clearing -->
          <div id="ie_clearing"> &#160; </div>
        </div>
      </div>
      <!-- begin: #footer -->
      <div id="footer">O-events.net is a free service of <a href="http://www.supsport.ch">supsport.ch</a> - Your <a href="http://www.paypal.com">donations</a> keep it running.<br />Powered by Ruby on Rails. Layout based on YAML.
      </div>
    </div>
    <div id="border-bottom">
      <div id="edge-bl"></div>
      <div id="edge-br"></div>
    </div>
  </div>
</body>
</html>

