  <div class="login_form_full">
   <%= notice %>
   <h1>  <%= t('.pleaselogin') %>  </h1>
   <%= render :partial => 'sessions/form', :locals => {:divClass => 'class="field"', :submitClass => 'class="actions"'} %>
     <p><br /><%= t('.register_info', :reglink => link_to(t('.register'), new_user_path)).html_safe %></p>
  </div>
