<form method="post" action="https://e-payment.postfinance.ch/ncol/test/orderstandard.asp">
  <%@formFields = buildFormForBill(@bill)%>
  <%@formFields.each_pair do |name, value|%>
    <input type="hidden" name="<%=name%>" value="<%=value%>">
  <%end%>
  <input type="submit" value="<%=t('.submit')%>">
</form>