pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions {
  padding: 0; 
}

div.field label {
  width: 160px;
  float: left;
  margin: 6px;
  /* margin-top: 6px; */
  text-align: left;
  padding-top: 3px; 
  /* display: block; */
}

div.actions input[type="submit"]{
  /* float: left; */
  margin: 6px 6px 6px 178px;
}

div.field input, div.field select {
  /* float: left; */  
  margin: 6px;
  width: 180px;
}

#notice {
  color: green;
}

.field_with_errors {
  /* padding: 6px; */
  background-color: #007;
  /* display: inline-block; */
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 388px;
  border: 2px solid #007;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 10px;
  background-color: #007;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
