<%= form_for(User.new, :url => url) do |f| %>
  <div class="field">
    <b><%= f.label :username %></b>
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= submit_tag search_button_caption %>
  </div>
<% end %>

