<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @registration_deadline.date %>
</p>


<%= link_to 'Edit', edit_registration_deadline_path(@registration_deadline) %> |
<%= link_to 'Back', registration_deadlines_path %>
