<p id="notice"><%= notice %></p>

<p>
  <b>Start block:</b>
  <%= @start_block.start_block %>
</p>


<%= link_to 'Edit', edit_start_block_path(@start_block) %> |
<%= link_to 'Back', start_blocks_path %>
