<h1>Listing team_registrations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_registrations.each do |team_registration| %>
  <tr>
    <td><%= link_to 'Show', team_registration %></td>
    <td><%= link_to 'Edit', edit_team_registration_path(team_registration) %></td>
    <td><%= link_to 'Destroy', team_registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team registration', new_team_registration_path %>
