<%= notice %>

<p>
  <b>Fee age dependent:</b>
  <%= @category_group.fee_age_dependent %>
</p>


<%= link_to 'Edit', edit_category_group_path(@category_group) %> |
<%= link_to 'Back', category_groups_path %>
