  <p id="notice">  <%= notice %>  </p>

  <p>
    <b>Name:  </b>
    <%= @team_pool.name %>
  </p>


  <%= link_to 'Edit', edit_team_pool_path(@team_pool) %> |
  <%= link_to 'Back', team_pools_path %>
