  <p id="notice">  <%= notice %>  </p>

  <p>
    <b>Amount:  </b>
    <%= @start_fee.amount %>
  </p>


  <%= link_to 'Edit', edit_start_fee_path(@start_fee) %> |
  <%= link_to 'Back', start_fees_path %>
