<h1>Listing nation_groups</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nation_groups.each do |nation_group| %>
  <tr>
    <td><%= link_to 'Show', nation_group %></td>
    <td><%= link_to 'Edit', edit_nation_group_path(nation_group) %></td>
    <td><%= link_to 'Destroy', nation_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nation group', new_nation_group_path %>
