<div id="two_column_col1">
  <div id="two_column_col1_content" class="clearfix">
     <%= yield :left %>
  </div>
</div>
<div id="two_column_col2">
  <div id="two_column_col2_content" class="clearfix">
     <%= yield :main %>
  </div>
    <!-- IE Column Clearing -->
  <div id="ie_clearing"> &#160; </div>
</div>